body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
table.types {
  background-color: rgba(28, 18, 168, 0.178);
  display: flex;
  align-items: left;
  justify-content: left;
  width: 95%;
  margin-left: 1rem;
  min-width: 10rem;
  font-size: 2rem;
  border-radius: 20px;
  padding: 3rem 1rem;
  box-shadow: 0 2px 10px white;
}
.footer {
  text-align: center;
  color: rgb(118, 118, 155);
  padding: 1rem;
  font-weight: bold;
  background-color: #000;
}

/* Gallery */
.gallery {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(73, 65, 94);
  padding-top: 3rem;
  overflow-x: hidden;
}
.gallery-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.342);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 1rem 2.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px black;
}
.photocard {
  background-color: #fff;
  overflow: hidden;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.589);
  min-width: 4rem;
  width: 40rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(300%);
  transition: transform 0.8s ease-in;
}
.photocard:nth-of-type(odd) {
  transform: translateX(-300%);
}
.photocard.show {
  transform: translateX(0);
}
.photocard .image {
  width: 100%;
}

/* About page */
.about {
  display: flex;
  margin: 2rem 0;
}
.about .imageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  overflow: hidden;
}
.about .imageBox img {
  min-width: 20rem;
  padding: 0 1rem;
  width: 40rem;
  border-radius: 5rem;
}
.about .description {
  width: 50%;
  padding: 0 2rem;
  font-size: 1.2rem;
}

@media (max-width: 480px) {
  .gallery-heading {
    font-size: 1rem;
  }

  table.types {
    font-size: 0.6rem;
  }
  .photocard {
    height: 20rem;
  }
  .about {
    display: block;
  }
  .about .imageBox {
    width: 100%;
  }
  .about .description {
    width: 100%;
    padding: 2rem;
  }
}
